body {
    background-color: black;
}

#box1 {
    text-align: center;
    padding-top: 10vw; 
}

#box2 {
    position: absolute;
    margin-left: 700px;
    margin-right: 700px;
    background-color: rgb(1, 76, 76);
    border-radius: 1vw;
    border-color: rgb(1, 76, 76);
    color: rgb(1, 76, 76);
    font-size: 4vw;
}


